
#container {
    height: 100%;
}

#discoverModal .modal-content {
    height: 90%;
    width: 90%;
}


.hvr-glow:hover, .hvr-glow:focus, .card.active {
    box-shadow: 0 0 9px #dc3545 !important;
}

.hvr-glow:hover
.card.animated.bounce {
    animation-delay: 0 !important;
}


/* BANNER */


.view-results #banner-bkgrd {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

#banner-overlay {
    background-color: var(--danger);
}

#banner-bkgrd,
#banner-overlay,
#search-container {
    border-radius: 20px;
    display: flex;
	height: 100%;
	width: 100%;
	-webkit-transition: height 100ms ease-in;
	transition: height 100ms ease-in;
}

.view-results #banner-bkgrd,
.view-results #banner-overlay,
.view-results #search-container {
	height: 75px;
	-webkit-transition: height 200ms ease-in;
	transition: height 200ms ease-in;
}

/* SEARCH */

#search-container {
	padding: 0 5%;
}

#search-heading h1 {
	text-align: center;
	font-family: 'Roboto Slab', serif;
	font-size: 125%;
	font-weight: 300;
	margin-bottom: 25px;
}

.view-results #search-heading {
	display: none;
}

#search-form {
	background-color: white;
	padding-left: 5px;
	width: 100%;
	border: 1px solid #c5cae9;
    border-radius: 15px;
    z-index: 1;
}
.search-options {
    width: 100%;
    justify-content: center;
}

.search-options button {
    margin: 5px 10px 0 0;
    background: #1db6ef;
    border: 0;
    height: 33px;
    border-radius: 5px;
    color: var(--font-color);
    padding: 0 10px;
    
}

#search-input {
	width: 100%;
	height: 45px;
	border: none;
	color: #333;
    font-size: 16px;
    margin-left: 12px;

}

#search-clear, #back-btn {
	display: none;
	border: none;
	border-radius: 2px;
	padding-right: 8px;
	background-color: transparent;
	font-size: 175%;
	font-weight: 100;
	color: rgba(0, 0, 0, .40);
}


#search-clear:hover {
	color: rgba(0, 0, 0, .56);
}

.hasInput #search-clear {
	display: block;
}

.hasInput #search-btn {
	background-color: #7F7F7F;
	color: #fff;
}

#search-btn,
.view-results #search-btn {
	margin: 2px;
	border: none;
	border-radius: 13px;
	padding: 0 11px;
	background-color: transparent;
	font-family: FontAwesome;
	font-weight: bold;
	color: #7F7F7F;
}



#search-btn:focus,
#search-btn:hover {
	background-color: #343a40;
	color: #fff;
}

#search-input:focus,
#search-clear:focus,
#search-btn:focus {
	outline: none;
}

/* CREDITS */

#credits {
	position: fixed;
	width: 100%;
	padding-right: 3px;
	text-align: right;
	color: #c5cae9;
	font-weight: 300;
}

#credits a {
	text-decoration: none;
	color: #fff;
}

#credits a:hover {
	color: #7F7F7F;
}

.view-results #credits {
	display: none;
}

/* RESULTS */

#results {
    padding: 10px 0;
    overflow-y: scroll;
    
    display: flex;
    flex-direction: column;
   
}

.view-initial #results {
	display: none;
}

/* CARDS */

#cards {
	max-width: 1200px;
	margin: auto;
    padding: 0 8px;
    height: 100%;
    justify-content: center;
}

.card {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	overflow: hidden;
    width: 225px;
	margin: 8px;
    border-radius: 50px;
	box-shadow: rgba(0, 0, 0, 0.137255) 0px 4px 5px 0px, rgba(0, 0, 0, 0.117647) 0px 1px 10px 0px, rgba(0, 0, 0, 0.2) 0px 2px 4px -1px;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-size: 16px;
	font-weight: 400;
	background-color: var(--bg-color);
}

.card-image {
	border-radius: 30px;
    overflow: hidden;
    align-self: center;
    margin: 20px 0;
    height: 113px;
    width: 113px;
    background-color: var(--secondary-color);

}

.card-image > img {
    height: 100%;
}

.card-title {
	display: -webkit-box;
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, .1);
	padding: 16px 16px 0;
	-webkit-box-align: center;
	        align-items: center;
}

.card-title > h2 {
	display: -webkit-box;
	display: flex;
	align-self: flex-end;
	margin: 0;
	font-size: 24px;
	font-weight: 300;
	line-height: normal;
}

.card-text {
	color: rgba(0, 0, 0, .54);
	font-size: 1rem;
	line-height: 18px;
	overflow: hidden;
	padding: 16px;
	width: 90%
}

.card-text p {
	margin: 0;
}

.card-actions {
	border-top: 1px solid rgba(0, 0, 0, .1);
	font-size: 16px;
	line-height: normal;
	width: 100%;
	background-color: transparent;
	padding: 8px;
	margin-top: auto;
}

.card-actions > a {
    color: var(--header-font-color);
	height: 36px;
	margin: 0;
	padding: 0 16px;
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0;
	text-decoration: none;
	text-align: center;
	line-height: 36px;
	vertical-align: middle;
}

.card-actions > a:hover {
	background-color: rgba(158, 158, 158, .2);
}

/* MEDIA QUERIES */

@media (min-width: 480px) {
	#search-heading h1 {
		font-size: 175%;
	}
}

@media (min-width: 600px) {
	#search-container {
		padding-left: 10%;
		padding-right: 10%;
	}
	#search-heading h1 {
		font-size: 225%;
	}
}

@media (min-width: 768px) {
	#search-container {
		padding-left: 15%;
		padding-right: 15%;
	}
}

@media (min-width: 992px) {
	#search-container {
		padding-left: 20%;
		padding-right: 20%;
	}
}

@media (min-width: 1200px) {
	#search-container {
		padding-left: 30%;
		padding-right: 30%;
	}
}